
* {
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;

}

body {
    max-width: 960px;
}

.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
}
.wrapper {
    width: 100%;
}
.title {
    background-color: #33BEBE;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 100%;


    /*text-align: left;*/
}
.image {
margin-right: 25px;
    /*margin-top: 0px;*/
    /*flex-basis: 25%;*/
    /*margin: auto;*/
        max-width: 460px;
       flex: 1 0 30%;
         /*width: 25%;*/
}


.description {
    max-width: 705px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 30px;*/
    color: #7C8B88;
   /*flex: 1 0 70%;*/
    /*margin: auto;*/
    /*width: 70%;*/
    overflow: auto;

}