* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* application CSS */

body {
    max-width: 940px;
}


.title {
    background-color: #33BEBE;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    /*margin-bottom: 2rem;*/
    padding: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    /*width: 100%;*/


    /*text-align: left;*/
}

/*.app {
    display: flex;
  align-items: flex-start;
}*/
.wrapper {
        /*display: flex;*/
  /*align-items: flex-start;*/
}

img {
    width: 100%;

}

.image {
    /*margin-right: 1rem;*/
    /*width:35%;*/
    /*flex: 1 1 40%;*/
    /*margin-right: 5px;*/
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
}

.description {
    /*flex: 1 1 60%;*/
    /*width: 65%;*/
    color: #7c8b88;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
   font-family: 'Open Sans', sans-serif;
    font-size: 1.40rem;
    font-weight: 300;
    letter-spacing: 1px;
    /*line-height: 1.5rem;*/
    /*margin-left: 10px;*/
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
